/*
$purple: #7f3ea6;
$blue: #3a86c2;
$green: #51a74e;

$red: #da4c48;
*/
// Vars
$white: #F4E0CB;
$orange: #f09c44;
$red: #da4c48;
// Fonts
$roboto: 'Roboto', sans-serif;
// Page

html, body {
	height: 100%;
	margin: 0;
}

body {
	background: $white;
	padding: 0;
	margin: 0;
	font-family: $roboto;
	text-align: left;
}
main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
h1 {
	font-weight: 700;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
h2 {
	font-weight: 400;
	font-style: italic;
	margin: 0;
	padding: 0;
}

p {
	max-width: 600px;
}

.name {
	background: $red;
	color: $orange;
}
.about {
	color: $red;
}
.container {
	max-width: 80%;
	margin: 0 auto;
	padding: 2em;
}
// Logo
#logo {
	display: block;
	max-width: 400px;
	margin: 0 auto;
}
#logo .cls-1 {
	fill: $orange;
}
.push,
footer {
	height: 4em;
}
footer {
	background: $orange;
	font-weight: 300;
	font-style: italic;
	text-align: left;
	color: lighten($orange, 20%);
	.container {
		line-height: 4em;
		display: block;
		padding: 0;
	}
}
